*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
}
.bmi{
  background-color: azure;
  height: 100VH;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.bmicontainer{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10PX;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
}
#header{
  margin: 25px;
}
#height,  #weight , button{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  border: 2px solid black;
}
#height:hover,  #weight:hover , button:hover {
  border: 2px solid coral;
}
